{%- comment -%}
  Renders the section heading.

  Usage:
  {%- render 'component-header-section'
    id: id, icon: icon, caption: caption, heading: heading, heading_type: heading_type, subheading: subheading, button_text: button_text, button_url: button_url, style_button: style_button, color_icon: color_icon, color_text: color_text, color_subheading: color_subheading
  -%}
{%- endcomment -%}

{%- if icon and icon != '' or caption and caption != '' or heading and heading != '' or subheading and subheading != '' or button_text and button_text != '' -%}
  <div class="grid-content__header">
    <div class="heading__section">
      {%- unless icon == 'none' -%}
        {% if icon and icon != '' %}
          {%- render 'component-icon', icon: icon -%}
          {%- if color_icon and color_icon != '' and color_icon != 'rgba(0,0,0,0)' -%}
            <style>
              #shopify-section-{{ id }} .heading__section .icon {
                  color: {{ color_icon }};
                }
            </style>
          {% endif %}
        {% endif %}
      {%- endunless -%}

      {%- if caption and caption != '' -%}
        <p class="text-display-xs text--caption">{{ caption }}</p>
      {%- endif -%}

      {%- if heading and heading != '' -%}
        <{{ heading_type }}>
          {{- heading -}}
        </{{ heading_type }}>
      {%- endif -%}

      {%- if subheading and subheading != '' -%}
        <div
          class="subheading wysiwyg"
          {% if color_subheading and color_subheading != '' and color_subheading != 'rgba(0,0,0,0)' %}
            style="color: {{ color_subheading }};"
          {% endif %}
        >
          {{ subheading }}
        </div>
      {%- endif -%}
    </div>

    {%- if button_text and button_text != '' -%}
      {%- render 'component-button', text: button_text, url: button_url, alignment_vertical: alignment_vertical, style_button: style_button -%}
    {%- endif -%}
  </div>

  {%- if color_text and color_text != '' and color_text != 'rgba(0,0,0,0)' -%}
    <style>
      #shopify-section-{{ id }} .grid-content__header {{ heading_type }},
      #shopify-section-{{ id }} .grid-content__header .text-display-xs {
        color: {{ color_text }}
      }
    </style>
  {%- endif -%}
{%- endif -%}
