{%- if section.blocks.size > 0 -%}
  <div class="section__wrapper {{ section.settings.display_visibility }}">
    {%-
      render 'component-section-padding'
      id: section.id,
      color_background_gradient: section.settings.color_background_gradient,
      color_background: section.settings.color_background,
      padding_top_mobile: section.settings.padding_top_mobile,
      padding_bottom_mobile: section.settings.padding_bottom_mobile,
      padding_top_desktop: section.settings.padding_top_desktop,
      padding_bottom_desktop: section.settings.padding_bottom_desktop,
      style_line_top: section.settings.style_line_top,
      style_line_bottom: section.settings.style_line_bottom,
      color_line: section.settings.color_line
    -%}
    <div
      class="container{% if section.settings.color_background_gradient != '' or section.settings.color_background and section.settings.color_background != '' and section.settings.color_background != 'rgba(0,0,0,0)' %} section__wrapper--background{% endif %}"
      {% if section.settings.color_background_gradient != '' or section.settings.color_background and section.settings.color_background != '' and section.settings.color_background != 'rgba(0,0,0,0)' %}
        style="background: {% if section.settings.color_background_gradient != '' %}{{ section.settings.color_background_gradient }}{% else %}{{ section.settings.color_background }}{% endif %};"
      {% endif %}
    >
      {%- render 'component-header-section' id: section.id, icon: section.settings.icon, caption: section.settings.caption, heading: section.settings.heading, heading_type: section.settings.heading_type, subheading: section.settings.subheading, button_text: section.settings.button_text, button_url: section.settings.button_url, style_button: section.settings.style_button, color_icon: section.settings.color_icon, color_text: section.settings.color_text, color_subheading: section.settings.color_subheading -%}
      <div
        class="container--grid grid grid--{{ section.blocks.size }}"
        style="align-items:{%- if section.settings.content_alignment == 'top' -%}flex-start{%- elsif section.settings.content_alignment == 'bottom' -%}flex-end{%- else -%}{{ section.settings.content_alignment }};{%- endif -%}"
      >
        {%- for block in section.blocks -%}
          <div
            class="grid-content grid-content__column grid-content__column--{{ block.id }}"
            {{ block.shopify_attributes }}
          >
            {%- liquid
              case block.type
                when 'rich_text'
                  render 'component-rich-text', id: block.id, icon: block.settings.icon, position_icon: block.settings.position_icon, color_icon: block.settings.color_icon, color_border_icon: block.settings.color_border_icon, color_border: block.settings.color_border, heading: block.settings.heading, heading_type: block.settings.heading_type, content: block.settings.content, color_background: block.settings.color_background, color_background_gradient: block.settings.color_background_gradient, color_text: block.settings.color_text, alignment_text: block.settings.alignment_text, button_text: block.settings.button_text, button_url: block.settings.button_url, stretch: block.settings.stretch_content, align: block.settings.align_items, size_text: block.settings.size_text, style_button: block.settings.style_button, display_fill_available: block.settings.display_fill_available, caption: block.settings.caption
                when 'image'
                  render 'component-image', id: block.id, image: block.settings.image, link: block.settings.link, ratio_block: block.settings.ratio_block, width_image: block.settings.width_image, alignment_horizontal: block.settings.alignment_horizontal, style_image: block.settings.style_image, display_fill_available: block.settings.display_fill_available
              endcase
            -%}
          </div>
        {%- endfor -%}
        <style>
          @media (max-width: 767px) {
            #shopify-section-{{ section.id }}.grid-content .container--grid.grid {
              grid-template-columns: repeat(1, minmax(0, 1fr));
            }
          }

          @media (min-width: 768px) {
            #shopify-section-{{ section.id }}.grid-content .container--grid.grid {
              grid-template-columns: repeat(2, minmax(0, 1fr));
            }
          }
        </style>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:name.image_with_text",
  "tag": "section",
  "class": "grid-content",
  "settings": [
    { "type": "paragraph", "content": "t:info.intro_section_image_with_text" },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:label.content_alignment",
      "options": [
        { "value": "top", "label": "t:label.top" },
        { "value": "center", "label": "t:label.middle" },
        { "value": "bottom", "label": "t:label.bottom" }
      ]
    },
    { "type": "header", "content": "t:info.header_header_settings" },
    { "type": "paragraph", "content": "t:info.intro_header_settings" },
    { "type": "text", "id": "icon", "label": "t:label.icon", "info": "t:info.icon" },
    { "type": "text", "id": "caption", "label": "t:label.caption" },
    { "type": "text", "id": "heading", "label": "t:label.heading" },
    {
      "type": "select",
      "id": "heading_type",
      "label": "t:label.heading_type",
      "options": [
        { "value": "p", "label": "t:label.paragraph" },
        { "value": "h1", "label": "t:label.heading_1" },
        { "value": "h2", "label": "t:label.heading_2" },
        { "value": "h3", "label": "t:label.heading_3" },
        { "value": "h4", "label": "t:label.heading_4" },
        { "value": "h5", "label": "t:label.heading_5" },
        { "value": "h6", "label": "t:label.heading_6" }
      ],
      "default": "h2"
    },
    { "type": "richtext", "id": "subheading", "label": "t:label.subheading" },
    { "type": "url", "id": "button_url", "label": "t:label.button_link" },
    { "type": "text", "id": "button_text", "label": "t:label.button_text_empty" },
    {
      "type": "select",
      "id": "style_button",
      "label": "t:label.button_style",
      "options": [
        { "value": "primary", "label": "t:label.primary" },
        { "value": "secondary", "label": "t:label.secondary" },
        { "value": "xl", "label": "t:label.extra_large" },
        { "value": "plain", "label": "t:label.plain" },
        { "value": "sm", "label": "t:label.small" },
        { "value": "sm-secondary", "label": "t:label.small_secondary" }
      ]
    },
    { "type": "header", "content": "t:info.header_color_settings" },
    { "type": "paragraph", "content": "t:info.intro_color_settings" },
    { "type": "color", "id": "color_icon", "label": "t:label.icon_color" },
    { "type": "color", "id": "color_text", "label": "t:label.text_color" },
    { "type": "color", "id": "color_subheading", "label": "t:label.subheading_color" },
    { "type": "color", "id": "color_background", "label": "t:label.background_color" },
    {
      "type": "color_background",
      "id": "color_background_gradient",
      "label": "t:label.background_gradient"
    },
    { "type": "header", "content": "t:info.header_section_padding_settings" },
    { "type": "paragraph", "content": "t:info.intro_section_padding_settings" },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_mobile_16",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_mobile_16",
      "default": 16
    },
    { "type": "header", "content": "t:info.header_separator_settings" },
    { "type": "paragraph", "content": "t:info.intro_separator_settings" },
    {
      "type": "select",
      "id": "style_line_top",
      "label": "t:label.top_separator_style",
      "options": [
        { "value": "dashed", "label": "t:label.dashed" },
        { "value": "dotted", "label": "t:label.dotted" },
        { "value": "line", "label": "t:label.line" },
        { "value": "none", "label": "t:label.none" }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "style_line_bottom",
      "label": "t:label.bottom_separator_style",
      "options": [
        { "value": "dashed", "label": "t:label.dashed" },
        { "value": "dotted", "label": "t:label.dotted" },
        { "value": "line", "label": "t:label.line" },
        { "value": "none", "label": "t:label.none" }
      ],
      "default": "none"
    },
    { "type": "color", "id": "color_line", "label": "t:label.separator_color" },
    { "type": "header", "content": "t:info.header_visibility_settings" },
    { "type": "paragraph", "content": "t:info.intro_visibility_settings" },
    {
      "type": "radio",
      "id": "display_visibility",
      "label": "t:label.visibility",
      "options": [
        { "value": "hide-no", "label": "t:label.do_not_hide" },
        { "value": "hide-desktop", "label": "t:label.hide_on_desktop" },
        { "value": "hide-mobile", "label": "t:label.hide_on_mobile" }
      ],
      "default": "hide-no"
    }
  ],
  "blocks": [
    {
      "type": "rich_text",
      "name": "t:name.rich_text",
      "settings": [
        { "type": "paragraph", "content": "t:info.intro_section_rich_text" },
        {
          "type": "select",
          "id": "position_icon",
          "label": "t:label.icon_position",
          "options": [
            { "value": "top", "label": "t:label.top" },
            { "value": "bottom", "label": "t:label.bottom" },
            { "value": "center", "label": "t:label.center" },
            { "value": "left", "label": "t:label.left" },
            { "value": "right", "label": "t:label.right" }
          ]
        },
        {
          "type": "select",
          "id": "alignment_text",
          "label": "t:label.text_alignment",
          "options": [
            { "value": "left", "label": "t:label.left" },
            { "value": "center", "label": "t:label.center" },
            { "value": "right", "label": "t:label.right" }
          ]
        },
        {
          "type": "select",
          "id": "size_text",
          "label": "t:label.text_size",
          "options": [
            { "value": "sm", "label": "t:label.small" },
            { "value": "md", "label": "t:label.medium" },
            { "value": "lg", "label": "t:label.large" },
            { "value": "xl", "label": "t:label.extra_large" }
          ],
          "default": "md"
        },
        { "type": "header", "content": "t:info.header_content_settings" },
        { "type": "paragraph", "content": "t:info.intro_content_settings" },
        {
          "type": "text",
          "id": "icon",
          "label": "t:label.icon_rich_text",
          "info": "t:info.icon_rich_text",
          "default": "waving hand"
        },
        { "type": "text", "id": "caption", "label": "t:label.caption" },
        {
          "type": "text",
          "id": "heading",
          "label": "t:label.heading_rich_text",
          "default": "Rich text"
        },
        {
          "type": "select",
          "id": "heading_type",
          "label": "t:label.heading_type",
          "options": [
            { "value": "p", "label": "t:label.paragraph" },
            { "value": "h1", "label": "t:label.heading_1" },
            { "value": "h2", "label": "t:label.heading_2" },
            { "value": "h3", "label": "t:label.heading_3" },
            { "value": "h4", "label": "t:label.heading_4" },
            { "value": "h5", "label": "t:label.heading_5" },
            { "value": "h6", "label": "t:label.heading_6" }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:label.content",
          "default": "<p>Add relevant text content with the richtext editor. Note that you can also include <a href=\”#\”>links</a> and basic formatting in this content, e.g. <b>bold</b> and <em>italic</em>.</p>"
        },
        { "type": "url", "id": "button_url", "label": "t:label.button_link" },
        { "type": "text", "id": "button_text", "label": "t:label.button_text_empty" },
        {
          "type": "select",
          "id": "style_button",
          "label": "t:label.button_style",
          "options": [
            { "value": "primary", "label": "t:label.primary" },
            { "value": "secondary", "label": "t:label.secondary" },
            { "value": "xl", "label": "t:label.extra_large" },
            { "value": "plain", "label": "t:label.plain" },
            { "value": "sm", "label": "t:label.small" },
            { "value": "sm-secondary", "label": "t:label.small_secondary" }
          ]
        },
        { "type": "header", "content": "t:info.header_color_settings" },
        { "type": "paragraph", "content": "t:info.intro_color_settings" },
        { "type": "color", "id": "color_border", "label": "t:label.border_color" },
        { "type": "color", "id": "color_icon", "label": "t:label.icon_color" },
        { "type": "color", "id": "color_border_icon", "label": "t:label.icon_border_color" },
        { "type": "color", "id": "color_text", "label": "t:label.text_color" },
        { "type": "color", "id": "color_background", "label": "t:label.background_color" },
        {
          "type": "color_background",
          "id": "color_background_gradient",
          "label": "t:label.background_gradient"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:name.image",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "t:label.image" },
        {
          "type": "range",
          "id": "width_image",
          "min": 16,
          "max": 1600,
          "step": 16,
          "unit": "px",
          "label": "t:label.image_width",
          "default": 800
        },
        {
          "type": "select",
          "id": "style_image",
          "label": "t:label.image_style",
          "options": [
            { "value": "default", "label": "t:label.default" },
            { "value": "rounded_corners", "label": "t:label.rounded_corners" },
            { "value": "circle", "label": "t:label.circle" },
            { "value": "border", "label": "t:label.border" }
          ]
        },
        {
          "type": "select",
          "id": "ratio_block",
          "label": "t:label.aspect_ratio",
          "info": "t:info.aspect_ratio",
          "options": [
            { "value": "default", "label": "t:label.default" },
            { "value": "landscape", "label": "t:label.landscape" },
            { "value": "portrait", "label": "t:label.portrait" },
            { "value": "square", "label": "t:label.square" },
            { "value": "widescreen", "label": "t:label.widescreen" }
          ],
          "default": "landscape"
        },
        {
          "type": "select",
          "id": "alignment_horizontal",
          "label": "t:label.horizontal_alignment",
          "options": [
            { "value": "left", "label": "t:label.left" },
            { "value": "center", "label": "t:label.center" },
            { "value": "right", "label": "t:label.right" }
          ]
        },
        { "type": "url", "id": "link", "label": "t:label.link" }
      ]
    }
  ],
  "max_blocks": 2,
  "presets": [
    { "name": "t:name.image_with_text", "blocks": [{ "type": "rich_text" }, { "type": "image" }] }
  ]
}
{% endschema %}
