<link rel="stylesheet" href="{{ 'section-main-login.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-main-login.css' | asset_url | stylesheet_tag }}</noscript>

<div class="container">
  <div class="main-login__wrapper section__wrapper">
    {%-
      render 'component-section-padding'
      id: section.id,
      color_background_gradient: section.settings.color_background_gradient,
      color_background: section.settings.color_background,
      padding_top_mobile: section.settings.padding_top_mobile,
      padding_bottom_mobile: section.settings.padding_bottom_mobile,
      padding_top_desktop: section.settings.padding_top_desktop,
      padding_bottom_desktop: section.settings.padding_bottom_desktop,
      style_line_top: section.settings.style_line_top,
      style_line_bottom: section.settings.style_line_bottom,
      color_line: section.settings.color_line
    -%}
    <div class="main-login__header">
      <h1 class="text-display-sm" tabindex="-1">
        {{ 'customer.reset_password.title' | t }}
      </h1>
      <p class="main-login__subtitle text-md">{{ 'customer.reset_password.subheading' | t }}</p>
    </div>

    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <p class="main-login__error" tabindex="-1" autofocus>
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          <svg aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-error" />
          </svg>
          {{ 'sections.contact_form.error_heading' | t }}
        </p>
        <ul>
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <div class="input-field">
        <label for="password" class="text-sm">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          autocomplete="new-password"
          {%- if form.errors contains 'password' -%}
            aria-invalid="true"
            aria-describedby="password-error"
          {%- endif -%}
          placeholder="{{ 'customer.reset_password.password' | t }}"
        >
        {%- if form.errors contains 'password' -%}
          <small id="password-error" class="main-login__error">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['password'] | capitalize }}
            {{ form.errors.messages['password'] }}
          </small>
        {%- endif -%}
      </div>

      <div class="input-field">
        <label for="password_confirmation" class="text-sm">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="new-password"
          {%- if form.errors contains 'password_confirmation' -%}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {%- endif -%}
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        >
        {%- if form.errors contains 'password_confirmation' -%}
          <small id="password_confirmation-error" class="main-login__error">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['password_confirmation'] | capitalize }}
            {{ form.errors.messages['password_confirmation'] }}
          </small>
        {%- endif -%}
      </div>

      <button class="button">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.reset_password.name",
  "tag": "section",
  "class": "main-reset-password",
  "settings": []
}
{% endschema %}
