{%- if section.settings.display_filters or section.settings.display_in_stock  -%}
  <script src="{{ 'component-filter.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'component-accordion.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="section__wrapper section__wrapper--no-overflow">
  {%-
    render 'component-section-padding'
    id: section.id,
    color_background_gradient: section.settings.color_background_gradient,
    color_background: section.settings.color_background,
    padding_top_mobile: section.settings.padding_top_mobile,
    padding_bottom_mobile: section.settings.padding_bottom_mobile,
    padding_top_desktop: section.settings.padding_top_desktop,
    padding_bottom_desktop: section.settings.padding_bottom_desktop,
    style_line_top: section.settings.style_line_top,
    style_line_bottom: section.settings.style_line_bottom,
    color_line: section.settings.color_line
  -%}
  {% if section.settings.color_background_gradient and section.settings.color_background_gradient != '' or section.settings.color_background and section.settings.color_background != '' and section.settings.color_background != 'rgba(0,0,0,0)' %} <div class="section__wrapper--background" style="background: {% if section.settings.color_background_gradient != '' %}{{ section.settings.color_background_gradient }}{% else %}{{ section.settings.color_background }}{% endif %};">{% endif %}
  <div class="container">
    {%- render 'component-header-section' id: section.id, icon: section.settings.icon, caption: section.settings.caption, heading: section.settings.heading, heading_type: section.settings.heading_type, subheading: section.settings.subheading, button_text: section.settings.button_text, button_url: section.settings.button_url, style_button: section.settings.style_button, color_icon: section.settings.color_icon, color_text: section.settings.color_text, color_subheading: section.settings.color_subheading -%}
  </div>

  {%- if section.settings.display_filters or section.settings.display_in_stock or section.settings.display_grid_size or section.settings.display_sorting -%}
    <div class="grid-archive__header sticky" id="grid-archive-header">
      <div class="grid-archive__header__inner-container">
        <div class="container">
          {%- if section.settings.display_filters or section.settings.display_in_stock -%}
            <div class="grid-archive__filter-triggers">
              {%- if section.settings.display_filters and collection.products_count < 5000 -%}
                <a class="button--sm toggle-filtering">
                  {{- 'general.filters.filters' | t }}
                  {%- render 'component-icon', icon: 'tune' -%}
                </a>
              {%- endif -%}
              {%- if section.settings.display_filters and section.settings.display_in_stock and collection.filters.size > 0 and collection.products_count > 0 and collection.products_count < 5000 -%}
                {%- for filter in collection.filters -%}
                  {%- if filter.label == 'Availability' -%}
                    <div class="facets__facet facets__facet--availability facet-form">
                      {%- for filter_value in filter.values -%}
                        <div class="facets__facet--availability-{{ filter_value.value }}">
                          <label class="form-control" for="Filter-{{ filter.param_name }}-{{ forloop.index }}2">
                            <input
                              type="checkbox"
                              name="{{ filter_value.param_name }}"
                              value="{{ filter_value.value }}"
                              class="available-online"
                              id="Filter-{{ filter.param_name }}-{{ forloop.index }}2"
                              {%- if filter_value.active -%}
                                checked
                              {%- endif -%}
                              {%- if filter_value.count == 0 and filter_value.active == false -%}
                                disabled
                              {%- endif -%}

                            ><span>{{ 'products.in_stock' | t }}</span></label
                          >
                        </div>
                      {%- endfor -%}
                    </div>
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.display_grid_size or section.settings.display_sorting -%}
            <div class="grid-archive__subnav">
              {%- if section.settings.display_grid_size -%}
                <div class="cols no-js-hidden">
                  <p>{{ 'products.view' | t }}</p>
                  {%- render 'component-icon-custom', icon: 'one-col', icon_class: 'one-col view-icon-mobile' -%}
                  {%- render 'component-icon-custom', icon: 'two-col', icon_class: 'two-col active view-icon-mobile' -%}
                  {%- render 'component-icon-custom', icon: 'three-col', icon_class: 'three-col active view-icon-desktop' -%}
                  {%- render 'component-icon-custom', icon: 'four-col', icon_class: 'four-col view-icon-desktop' -%}
                </div>
              {%- endif -%}
              {%- if section.settings.display_sorting -%}
                <facet-filters-form>
                  <form class="sort-by facet-form" id="FacetSortForm">
                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

                    <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message">
                      {%- for option in collection.sort_options -%}
                        <option
                          value="{{ option.value | escape }}"
                          {%- if option.value == sort_by -%}
                            selected="selected"
                          {%- endif -%}
                        >
                          {{ option.name | escape }}
                        </option>
                      {%- endfor -%}
                    </select>

                    {%- render 'component-icon', icon: 'expand_more' -%}
                  </form>
                </facet-filters-form>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}

  <div class="grid-archive__outer-container">
    <div class="grid-archive__main-container container">
      {%- if collection.filters.size > 0 and collection.products_count > 0 and collection.products_count < 5000 and section.settings.display_filters -%}
        <div class="grid-archive__filters-container" id="main-collection-filters-container">
          <div id="main-collection-filters" data-id="{{ section.id }}">
            {%- render 'component-facets', page: collection -%}
          </div>
        </div>
      {%- endif -%}

      <div class="grid-archive__products-grid-container" id="ProductGridContainer">
        <div
          class="grid-archive__content grid-archive__content--three-col grid-archive__content--two-col"
          id="grid-product"
          data-id="{{ section.id }}"
        >
          {%- for block in section.blocks -%}
            {%- if block.settings.size_banner == 'sm' -%}
              {%- unless collection.all_products_count < 11 -%}
                <div class="banner banner--small" {{ block.shopify_attributes }}>
                  {%- render 'component-banner', id: block.id, size_banner: block.settings.size_banner, icon: block.settings.icon, color_icon: block.settings.color_icon, caption: block.settings.caption, heading: block.settings.heading, heading_type: block.settings.heading_type, subheading: block.settings.subheading, color_subheading: block.settings.color_subheading, button_url: block.settings.button_url, button_text: block.settings.button_text, style_button: block.settings.style_button, style_link: block.settings.style_link, image: block.settings.image, image_background: block.settings.image_background, video_background: block.settings.video_background, color_background: block.settings.color_background, color_text: block.settings.color_text, alignment_vertical: block.settings.alignment_vertical, alignment_horizontal: block.settings.alignment_horizontal, color_overlay: block.settings.color_overlay, opacity_overlay: block.settings.opacity_overlay, ratio_block: block.settings.ratio_block, fit_object: block.settings.fit_object -%}
                </div>
              {%- endunless -%}
            {%- else -%}
              {%- unless collection.all_products_count < 6 -%}
                <div class="banner banner--large" {{ block.shopify_attributes }}>
                  {%- render 'component-banner', id: block.id, size_banner: block.settings.size_banner, icon: block.settings.icon, color_icon: block.settings.color_icon, caption: block.settings.caption, heading: block.settings.heading, heading_type: block.settings.heading_type, subheading: block.settings.subheading, color_subheading: block.settings.color_subheading, button_url: block.settings.button_url, button_text: block.settings.button_text, style_button: block.settings.style_button, style_link: block.settings.style_link, image: block.settings.image, image_background: block.settings.image_background, video_background: block.settings.video_background, color_background: block.settings.color_background, color_text: block.settings.color_text, alignment_vertical: block.settings.alignment_vertical, alignment_horizontal: block.settings.alignment_horizontal, color_overlay: block.settings.color_overlay, opacity_overlay: block.settings.opacity_overlay, ratio_block: block.settings.ratio_block, fit_object: block.settings.fit_object -%}
                </div>
              {%- endunless -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if collection.products_count > 0 -%}
            {%- paginate collection.products by 48 -%}
              {%- for product in collection.products -%}
                {%- render 'component-card-product' product: product, ratio_image: section.settings.ratio_image, style_card: section.settings.style_card, display_text_card: section.settings.display_text_card, style_button_card: section.settings.settings_style_cta_card, card_cta_product: settings.card_cta_product -%}
              {%- endfor -%}
              {% render 'component-pagination', paginate: paginate %}
            {%- endpaginate -%}
          {%- else -%}
            <p class="grid-archive__no-results">{{ 'products.not_found' | t }}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {% if section.settings.color_background_gradient != '' or section.settings.color_background != '' and section.settings.color_background != 'rgba(0,0,0,0)' %}</div>{%- endif -%}
</div>

{% schema %}
{
  "name": "t:name.collection",
  "tag": "section",
  "class": "collection grid-archive",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:info.intro_section_collection"
    },
    {
      "type": "checkbox",
      "id": "display_in_stock",
      "label": "t:label.enable_availability_filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_filters",
      "label": "t:label.enable_filters",
      "info": "t:info.enable_filters",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_grid_size",
      "label": "t:label.enable_grid_size_interface",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_sorting",
      "label": "t:label.enable_sorting",
      "default": true
    },
    {
      "type": "header",
      "content": "t:info.header_card_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_card_settings"
    },
    {
      "type": "select",
      "id": "ratio_image",
      "label": "t:label.image_aspect_ratio",
      "options": [
        {
          "value": "default",
          "label": "t:label.use_theme_setting"
        },
        {
          "value": "landscape",
          "label": "t:label.landscape"
        },
        {
          "value": "portrait",
          "label": "t:label.portrait"
        },
        {
          "value": "square",
          "label": "t:label.square"
        },
        {
          "value": "widescreen",
          "label": "t:label.widescreen"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "style_card",
      "label": "t:label.card_style",
      "options": [{
        "value": "default",
        "label": "t:label.use_theme_setting"
      }, {
        "value": "no_image",
        "label": "t:label.no_image"
      }, {
        "value": "no_padding",
        "label": "t:label.no_padding"
      }, {
        "value": "padding",
        "label": "t:label.padding"
      }],
      "default": "default"
    },
    {
      "type": "select",
      "id": "display_text_card",
      "label": "t:label.card_text",
      "options": [
        {
          "value": "default",
          "label": "t:label.use_theme_setting"
        },
        {
          "value": "title_and_excerpt",
          "label": "t:label.title_and_excerpt"
        },
        {
          "value": "text",
          "label": "t:label.excerpt_only"
        },
        {
          "value": "title",
          "label": "t:label.title_only"
        },
        {
          "value": "no_text",
          "label": "t:label.no_text"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:info.header_header_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_header_settings"
    },
    {
      "type": "text",
      "id": "icon",
      "label": "t:label.icon",
      "info": "t:info.icon"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "t:label.caption"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:label.heading"
    },
    {
      "type": "select",
      "id": "heading_type",
      "label": "t:label.heading_type",
      "options": [
        {
          "value": "p",
          "label": "t:label.paragraph"
        },
        {
          "value": "h1",
          "label": "t:label.heading_1"
        },
        {
          "value": "h2",
          "label": "t:label.heading_2"
        },
        {
          "value": "h3",
          "label": "t:label.heading_3"
        },
        {
          "value": "h4",
          "label": "t:label.heading_4"
        },
        {
          "value": "h5",
          "label": "t:label.heading_5"
        },
        {
          "value": "h6",
          "label": "t:label.heading_6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "t:label.subheading"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:label.button_link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:label.button_text_empty"
    },
    {
      "type": "header",
      "content": "t:info.header_color_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_color_settings"
    },
    {
      "type": "color",
      "id": "color_icon",
      "label": "t:label.icon_color"
    },
    {
      "type": "color",
      "id": "color_subheading",
      "label": "t:label.subheading_color"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:label.text_color"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:label.background_color"
    },
    {
      "type": "color_background",
      "id": "color_background_gradient",
      "label": "t:label.background_gradient"
    },
    {
      "type": "header",
      "content": "t:info.header_section_padding_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_section_padding_settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_mobile_16",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_mobile_16",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:info.header_separator_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_separator_settings"
    },
    {
      "type": "select",
      "id": "style_line_top",
      "label": "t:label.top_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "style_line_bottom",
      "label": "t:label.bottom_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
  {"type": "color", "id": "color_line", "label": "t:label.separator_color"}
  ],
  "blocks": [
    {
      "type": "collection_banner",
      "name": "t:name.collection_banner",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:info.intro_block_collection_banner"
        },
        {
          "type": "select",
          "id": "size_banner",
          "label": "t:label.size",
          "options": [
            {
              "value": "sm",
              "label": "t:label.small"
            },
            {
              "value": "lg",
              "label": "t:label.large"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment_vertical",
          "label": "t:label.vertical_alignment",
          "options": [
            {
              "value": "top",
              "label": "t:label.top"
            },
            {
              "value": "center",
              "label": "t:label.middle"
            },
            {
              "value": "bottom",
              "label": "t:label.bottom"
            }
          ],
          "default": "bottom"
        },
        {
          "type": "select",
          "id": "alignment_horizontal",
          "label": "t:label.horizontal_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:label.left"
            },
            {
              "value": "center",
              "label": "t:label.center"
            },
            {
              "value": "right",
              "label": "t:label.right"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:info.header_header_settings"
        },
        {
          "type": "paragraph",
          "content": "t:info.intro_header_settings"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "t:label.icon",
          "info": "t:info.icon"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "t:label.caption"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:label.heading_banner",
          "default": "Banner heading"
        },
        {
          "type": "select",
          "id": "heading_type",
          "label": "t:label.heading_type",
          "options": [
            {
              "value": "p",
              "label": "t:label.paragraph"
            },
            {
              "value": "h1",
              "label": "t:label.heading_1"
            },
            {
              "value": "h2",
              "label": "t:label.heading_2"
            },
            {
              "value": "h3",
              "label": "t:label.heading_3"
            },
            {
              "value": "h4",
              "label": "t:label.heading_4"
            },
            {
              "value": "h5",
              "label": "t:label.heading_5"
            },
            {
              "value": "h6",
              "label": "t:label.heading_6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "t:label.subheading"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:label.button_link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:label.button_text",
          "default": "Button text"
        },
        {
          "type": "select",
          "id": "style_button",
          "label": "t:label.button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:label.primary"
            },
            {
              "value": "secondary",
              "label": "t:label.secondary"
            },
            {
              "value": "xl",
              "label": "t:label.extra_large"
            },
            {
              "value": "plain",
              "label": "t:label.plain"
            },
            {
              "value": "sm",
              "label": "t:label.small"
            },
            {
              "value": "sm-secondary",
              "label": "t:label.small_secondary"
            }
          ]
        },
        {
          "type": "select",
          "id": "style_link",
          "label": "t:label.link_style",
          "info": "t:info.link_style",
          "options": [
            {
              "value": "link-button",
              "label": "t:label.button"
            },
            {
              "value": "link-block",
              "label": "t:label.full_block"
            },
            {
              "value": "link-full-button",
              "label": "t:label.full_block_with_button"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:info.header_imagery_settings"
        },
        {
          "type": "paragraph",
          "content": "t:info.intro_imagery_settings"
        },
        {
          "type": "image_picker",
          "id": "image_background",
          "label": "t:label.background_image"
        },
        {
          "type": "video",
          "id": "video_background",
          "label": "t:label.background_video",
          "info": "t:info.background_video"
        },
        {
          "type": "select",
          "id": "fit_object",
          "label": "t:label.background_image_fit",
          "options": [
            {
              "value": "contain",
              "label": "t:label.contain"
            },
            {
              "value": "cover",
              "label": "t:label.cover"
            },
            {
              "value": "default",
              "label": "t:label.default"
            }
          ],
          "default": "cover"
        },
        {
          "type": "header",
          "content": "t:info.header_color_settings"
        },
        {
          "type": "paragraph",
          "content": "t:info.intro_color_settings"
        },
        {
          "type": "color",
          "id": "color_icon",
          "label": "t:label.icon_color"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:label.text_color"
        },
        {
          "type": "color",
          "id": "color_subheading",
          "label": "t:label.subheading_color"
        },
        {
          "type": "color",
          "id": "color_overlay",
          "label": "t:label.overlay_color"
        },
        {
          "type": "range",
          "id": "opacity_overlay",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "%",
          "label": "t:label.overlay_opacity",
          "default": 48
        },
        {
          "type": "color",
          "id": "color_background",
          "label": "t:label.background_color"
        },
        {
          "type": "color_background",
          "id": "color_background_gradient",
          "label": "t:label.background_gradient"
        }
      ]
    }
  ],
  "max_blocks": 2,
  "templates": [
    "collection"
  ]
}
{% endschema %}
