<link
  rel="stylesheet"
  href="{{ 'section-main-cart.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<noscript>{{ 'section-main-cart.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'component-main-cart.js' | asset_url }}" defer="defer"></script>

<div class="section__wrapper">
  {%-
    render 'component-section-padding'
    id: section.id,
    color_background_gradient: section.settings.color_background_gradient,
    color_background: section.settings.color_background,
    padding_top_mobile: section.settings.padding_top_mobile,
    padding_bottom_mobile: section.settings.padding_bottom_mobile,
    padding_top_desktop: section.settings.padding_top_desktop,
    padding_bottom_desktop: section.settings.padding_bottom_desktop,
    style_line_top: section.settings.style_line_top,
    style_line_bottom: section.settings.style_line_bottom,
    color_line: section.settings.color_line
  -%}
  <div class="container">
    <div
      class="cart__empty"
      {% if cart != empty %}
        style="display: none"
      {% endif %}
    >
      <h1>
        {%- if settings.heading and settings.heading != '' -%}
          {{ settings.heading }}
        {%- else -%}
          {{ 'cart.empty' | t }}
        {%- endif -%}
      </h1>
      {%- if settings.subheading and settings.subheading != '' -%}
        {{ settings.subheading }}
      {%- else -%}
        <p>{{ 'cart.no_items' | t }}</p>
      {%- endif -%}
      <a
        href="{%- if settings.button_url -%}{{ settings.button_url }}{%- else -%}{{ routes.all_products_collection_url }}{%- endif -%}"
        class="button"
      >
        {%- if settings.button_text and settings.button_text != '' -%}
          {{ settings.button_text }}
        {%- else -%}
          {{ 'cart.continue_shopping' | t }}
        {%- endif -%}
      </a>
    </div>
    <div
      class="cart__wrapper"
      id="main-cart"
      {% if cart == empty %}
        style="display: none"
      {% endif %}
    >
      <div>
        <div class="empty-cart-item" style="display: none;">
          {%- render 'component-cart-item' -%}
          {%- render 'component-cart-item-desktop' -%}
        </div>
        <form action="{{ routes.cart_url }}" method="post" id="cart">
          {%- if cart != empty -%}
            <div class="cart-content">
              <div class="cart-content__header">
                <p>{{ 'cart.headings.product' | t }}</p>
                <p>{{ 'cart.headings.each' | t }}</p>
                <p>{{ 'cart.headings.quantity' | t }}</p>
                <p>{{ 'cart.headings.total' | t }}</p>
                <p>{{ 'cart.headings.remove' | t }}</p>
              </div>

              <div class="cart-items__container">
                {%- for item in cart.items -%}
                  {%- render 'component-cart-item', item: item -%}
                  {%- render 'component-cart-item-desktop', item: item -%}
                {%- endfor -%}
              </div>
            </div>
            <a href="{{ routes.all_products_collection_url }}" class="button button--back">
              {%- render 'component-icon', icon: 'chevron_left' -%}
              {{ 'cart.continue_shopping' | t }}
            </a>
          {%- endif -%}
        </form>
      </div>
      <div class="cart-summary">
        <div class="cart-summary__meta">
          <div class="cart-summary__header">
            <p>{{ 'cart.order_summary' | t }}</p>
            <p>
              (<span class="cart-count">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }})
            </p>
          </div>

          <div class="cart-summary__line-items">
            <p>{{ 'cart.subtotal' | t }}</p>
            <p id="cart-total-price">{{ cart.total_price | money }}</p>
          </div>

          <div class="cart-summary__line-items">
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li>
                    {{ discount.title }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="cart-summary__line-items cart-summary__line-items--notice">
            <p>
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </p>
          </div>

          <div class="cart-summary__buttons">
            <noscript>
              <button type="submit" form="cart">
                {{ 'cart.update' | t }}
              </button>
            </noscript>

            <button
              class="button"
              type="submit"
              id="checkout"
              name="checkout"
              {%- if cart == empty -%}
                disabled
              {%- endif -%}
              form="cart"
            >
              {%- render 'component-icon', icon: 'security' -%}
              {{ 'cart.checkout' | t }}
            </button>

            {%- if additional_checkout_buttons and settings.display_dynamic_checkout -%}
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {%- endif -%}

            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}
                {%- when 'custom_liquid' %}
                  <div {{ block.shopify_attributes }}>
                    {{ block.settings.custom_liquid }}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>

          <div id="cart-errors"></div>

          {%- if settings.display_free_shipping -%}
            <div class="cart-summary__free-shipping no-js-hidden">
              <p class="free-shipping-left" data-percentage="0">
                {{ 'cart.you_have' | t }}
                <span id="amount-left">
                  {{- settings.threshold_free_shipping | times: 100 | money_without_trailing_zeros -}}
                </span>
                {{ 'cart.left_until_free_shipping' | t }}.
              </p>
              <p class="free-shipping-qualified" style="display: none;">
                {%- render 'component-icon', icon: 'check' -%}
                {{ 'cart.qualified_free_shipping' | t }}
              </p>
            </div>
          {%- endif -%}

          {%- if settings.text_announcement != '' -%}
            <div
              class="cart-summary__certificate"
              {% if settings.text_color_cart and settings.text_color_cart != '' %}
                style="color:{{ settings.text_color_cart }}"
              {% endif %}
            >
              <p>
                {%- assign icon = settings.icon_announcement -%}
                {%- unless icon == 'none' -%}
                  {% if icon and icon != '' %}
                    <span
                      {% if settings.icon_color_cart and settings.icon_color_cart != '' %}
                        style="color:{{ settings.icon_color_cart }}"
                      {% endif %}
                    >
                      {%- render 'component-icon', icon: icon -%}
                    </span>
                  {% endif %}
                {%- endunless -%}
                {{ settings.text_announcement }}
              </p>
            </div>
          {%- endif -%}
        </div>
        {%- if settings.display_note -%}
          <div class="cart-summary__note accordion">
            <link
              rel="stylesheet"
              href="{{ 'component-accordion.css' | asset_url }}"
              media="print"
              onload="this.media='all'"
            >
            <noscript>{{ 'component-accordion.css' | asset_url | stylesheet_tag }}</noscript>
            <script src="{{ 'component-accordion.js' | asset_url }}" defer="defer"></script>
            <details class="accordion__wrapper">
              <summary tabindex="0">
                <p class="text-sm">{{ 'cart.note' | t }}</p>
                {% render 'component-icon', icon:'expand_more' %}
              </summary>
              <div class="content">
                <cart-note>
                  <label class="visually-hidden" for="CartDrawer-Note">
                    {{- 'cart.note' | t -}}
                  </label>
                  <textarea
                    id="CartDrawer-Note"
                    name="note"
                    placeholder="{{ 'cart.note' | t }}"
                  >{{ cart.note }}</textarea>
                </cart-note>
              </div>
            </details>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
    document.querySelector('#cart').submit();
    });

  });
</script>

{% schema %}
{
  "name": "t:name.cart",
  "tag": "section",
  "class": "cart",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:info.intro_section_cart"
    },
    {
      "type": "header",
      "content": "t:info.header_section_padding_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_section_padding_settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_mobile_16",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_mobile_16",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:info.header_separator_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_separator_settings"
    },
    {
      "type": "select",
      "id": "style_line_top",
      "label": "t:label.top_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "style_line_bottom",
      "label": "t:label.bottom_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "color_line",
      "label": "t:label.separator_color"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "t:name.custom_liquid",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:info.intro_section_custom_liquid"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:label.custom_liquid",
          "info": "t:info.custom_liquid"
        }
      ]
    }
  ],
  "templates": [
    "cart"
  ]
}
{% endschema %}
