<link
  rel="stylesheet"
  href="{{ 'section-main-login.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<noscript>{{ 'section-main-login.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'component-login.js' | asset_url }}" defer="defer"></script>
<div class="section__wrapper">
  {%-
    render 'component-section-padding'
    id: section.id,
    color_background_gradient: section.settings.color_background_gradient,
    color_background: section.settings.color_background,
    padding_top_mobile: section.settings.padding_top_mobile,
    padding_bottom_mobile: section.settings.padding_bottom_mobile,
    padding_top_desktop: section.settings.padding_top_desktop,
    padding_bottom_desktop: section.settings.padding_bottom_desktop,
    style_line_top: section.settings.style_line_top,
    style_line_bottom: section.settings.style_line_bottom,
    color_line: section.settings.color_line
  -%}
  <div
    class="container{% if section.settings.color_background_gradient != '' or section.settings.color_background and section.settings.color_background != '' and section.settings.color_background != 'rgba(0,0,0,0)' %} section__wrapper--background{% endif %}"
    {% if section.settings.color_background_gradient != '' or section.settings.color_background != '' and section.settings.color_background != 'rgba(0,0,0,0)' %}
      style="background: {% if section.settings.color_background_gradient != '' %}{{ section.settings.color_background_gradient }}{% else %}{{ section.settings.color_background }}{% endif %};"
    {% endif %}
  >
    <div class="main-login__wrapper">
      <div id="forgot">
        <div class="main-login__header">
          <h1 class="text-display-sm" tabindex="-1">
            {{ 'customer.recover_password.title' | t }}
          </h1>
          <p class="main-login__subtitle text-md">{{ 'customer.recover_password.subheading' | t }}</p>
        </div>
        <div>
          {%- form 'recover_customer_password' -%}
            {%- assign recover_success = form.posted_successfully? -%}
            <div class="input-field">
              <label for="RecoverEmail" class="text-sm">
                {{ 'customer.login_page.email' | t }}
              </label>
              <input
                type="email"
                value=""
                name="email"
                id="RecoverEmail"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {%- if form.errors -%}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                  autofocus
                {%- endif -%}
                placeholder="{{ 'customer.login_page.email' | t }}"
                pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{1,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$"
              >
            </div>
            {%- if form.errors -%}
              <p class="main-login__error">{{ form.errors.messages['form'] }}</p>
            {%- endif -%}

            <button class="button">
              {{ 'customer.login_page.submit' | t }}
            </button>

            <a class="text-sm login-trigger">
              {{ 'customer.login_page.cancel' | t }}
            </a>
          {%- endform -%}
        </div>
      </div>
      <div id="login" class="active">
        <div class="main-login__header">
          {%- unless section.settings.icon == 'none' -%}
            {% if section.settings.icon != '' %}
              {%- render 'component-icon', icon: section.settings.icon -%}
              {%- if section.settings.color_icon and section.settings.color_icon != '' and section.settings.color_icon != 'rgba(0,0,0,0)' -%}
                <style>
                  #shopify-section-{{ section.id }} .icon {
                      color: {{ section.settings.color_icon }};
                    }
                </style>
              {% endif %}
            {% endif %}
          {%- endunless -%}

          <h1
            tabindex="-1"
            {%- if section.settings.color_text and section.settings.color_text != '' and section.settings.color_text != 'rgba(0,0,0,0)' -%}
              style="color: {{ section.settings.color_text }};"
            {%- endif -%}
          >
            {%- if section.settings.heading != '' -%}
              {{ section.settings.heading }}
            {%- else -%}
              {{ 'customer.login_page.title' | t }}
            {%- endif -%}
          </h1>

          {%- if recover_success == true -%}
            <p class="main-login__subtitle text-md">
              {{ 'customer.recover_password.success' | t }}
            </p>
          {%- else -%}
            <div
              class="main-login__subtitle text-md"
              {% if section.settings.color_subheading and section.settings.color_subheading != '' and section.settings.color_subheading != 'rgba(0,0,0,0)' %}
                style="color: {{ section.settings.color_subheading }};"
              {% endif %}
            >
              {%- if section.settings.subheading != '' -%}
                {{ section.settings.subheading }}
              {%- else -%}
                {{ 'customer.login_page.welcome_back' | t }}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>

        <div>
          {%- form 'customer_login', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
              <p class="main-login__error" tabindex="-1">
                <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                {{ 'sections.contact_form.error_heading' | t }}
              </p>
              <p>{{ form.errors | default_errors }}</p>
            {%- endif -%}

            <div class="input-field">
              <label for="CustomerEmail" class="text-sm">
                {{ 'customer.login_page.email' | t }}
              </label>
              <input
                type="email"
                name="customer[email]"
                id="CustomerEmail"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {%- if form.errors contains 'form' -%}
                  aria-invalid="true"
                {%- endif -%}
                placeholder="{{ 'customer.login_page.email_placeholder' | t }}"
                pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{1,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$"
              >
            </div>

            {%- if form.password_needed -%}
              <div class="input-field">
                <label for="CustomerPassword" class="text-sm">
                  {{ 'customer.login_page.password' | t }}
                </label>
                <input
                  type="password"
                  value=""
                  name="customer[password]"
                  id="CustomerPassword"
                  autocomplete="current-password"
                  {%- if form.errors contains 'form' -%}
                    aria-invalid="true"
                  {%- endif -%}
                  placeholder="{{ 'customer.login_page.password' | t }}"
                >
              </div>

              <a class="text-sm forgot-trigger">
                {{ 'customer.login_page.forgot_password' | t }}
              </a>
            {%- endif -%}

            <button class="button">
              {{ 'customer.login_page.sign_in' | t }}
            </button>

            <a href="{{ routes.account_register_url }}" class="text-sm">
              {{ 'customer.login_page.create_account' | t }}
            </a>
          {%- endform -%}
        </div>

        {%- if shop.checkout.guest_login -%}
          <div>
            <h2>{{ 'customer.login_page.guest_title' | t }}</h2>
            {%- form 'guest_login' -%}
              <button>
                {{ 'customer.login_page.guest_continue' | t }}
              </button>
            {%- endform -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- if section.settings.color_background and section.settings.color_background != '' and section.settings.color_background != 'rgba(0,0,0,0)' -%}
  <style>
    #shopify-section-{{ section.id }} .main-login__wrapper {
      background: {{ section.settings.color_background }};
      padding: 2.4rem;
      border-radius: 0.8rem;
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "t:name.login_form",
  "tag": "section",
  "class": "main-login",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:info.intro_section_login_form"
    },
    {
      "type": "text",
      "id": "icon",
      "label": "t:label.icon",
      "info": "t:info.icon"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:label.heading_login",
      "default": "Log in"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "t:label.subheading_login",
      "default": "<p>Welcome back! Please enter your login details below to view your account.</p>"
    },
    {
      "type": "header",
      "content": "t:info.header_color_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_color_settings"
    },
    {
      "type": "color",
      "id": "color_icon",
      "label": "t:label.icon_color"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:label.text_color"
    },
    {
      "type": "color",
      "id": "color_subheading",
      "label": "t:label.subheading_color"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:label.background_color"
    },
    {
      "type": "color_background",
      "id": "color_background_gradient",
      "label": "t:label.background_gradient"
    },
    {
      "type": "header",
      "content": "t:info.header_section_padding_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_section_padding_settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_desktop_32",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_mobile_16",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_mobile_16",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:info.header_separator_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_separator_settings"
    },
    {
      "type": "select",
      "id": "style_line_top",
      "label": "t:label.top_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "style_line_bottom",
      "label": "t:label.bottom_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "color_line",
      "label": "t:label.separator_color"
    }
  ]
}
{% endschema %}
